@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer base {
  html,
  body {
    font-family: "IBM Plex Mono", monospace;
  }
}
body {
  @apply w-full h-full text-white;
  background: #0c0c0c;
}
